<!-- <div class="wrapper">
  <div *ngFor="let r of recipes" class="card">
    <img src="{{ r.img }}" alt="" />
    <hr />
    <p class="name" (click)="NavigateToRecipe(r.resId)">{{ r.name }}</p>
    <br />
    <p class="timeminutes">Cooking takes {{ r.timeMinutes }} minutes</p>

    <div class="ingredients">
      <p><b>Ingredients:</b></p>
      <p>{{ r.ingredients.substring(0, 30) }}&nbsp;<b>.&nbsp;.&nbsp;.</b></p>
    </div>
    <div class="steps">
      <p><b>Steps:</b></p>
      <p>{{ r.steps.substring(0, 95) }}&nbsp;<b>.&nbsp;.&nbsp;.</b></p>
    </div>

    <div
      *ngIf="authService.isLoggedIn && r.uid == authService.getUserId"
      class="edit"
      (click)="UpdateRecipe(r.resId)"
    >
      🔨
    </div>
    <div
      *ngIf="authService.isLoggedIn && r.uid == authService.getUserId"
      class="delete"
      (click)="DeleteRecipe(r.resId)"
    >
      🧨
    </div>
  </div>
</div> -->

<div class="wrapper">
  <div class="card" *ngFor="let r of recipes">
    <div class="flex flex1">
      <p>
        {{ r.name }}
      </p>
    </div>
    <div class="flex flex2">
      <span class="title">Author:</span>
      <span class="displayName">
        {{ r.displayName ? r.displayName : "anonymous" }}</span
      >
    </div>
    <div class="flex flex3">
      <div style="background-image: url({{ r.img }});"></div>
      <!-- <img src="{{ r.img }}" alt="" /> -->
    </div>
    <div class="flex flex4">
      <p>{{ r.steps.slice(0, 100) }}</p>
    </div>
    <div class="flex flex5">
      <div><span>View</span></div>
      <div
        *ngIf="authService.isLoggedIn && r.uid == authService.getUserId"
        (click)="UpdateRecipe(r.resId)"
      >
        <span>Edit</span>
      </div>
    </div>
  </div>
</div>
