.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    .flex {
    }
    .flex1 {
      flex:3;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;

      }
      margin-bottom: -20px;
    }
    .flex2 {
      flex: 3;
      .title {
        justify-self: flex-start;
      }
      span.displayName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        color: gray;
      }
    }
    .flex3 {
      flex: 30;
      border-top: 1px solid rgb(80,80,80);
      border-bottom: 1px solid rgb(80,80,80);
      div {
        width: 100% !important;
        height: 100% !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .flex4 {
      flex: 8;
        p {
          padding: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15px;
          text-align: center;
        }
      }

    .flex5 {
      flex: 5;
      display: flex;
      flex-direction: row;
      background-color: darkslategrey;
      div {
        flex: 1;
        background-color: hsl(195deg 95% 64%);
        &:nth-child(2) {
          margin-left: 1px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span {
          font-weight: 500;
        }
        &:hover {
          span {
            font-weight: 400;
            font-size: 15px;
            color: rgb(100,100,100)
          }
        }
      }
    }
  }
}
