<div class="card">
  <form
    [formGroup]="addRecipeForm"
    (ngSubmit)="
      onSubmit(
        name.value,
        type.value,
        timeMinutes.value,
        ingredients.value,
        steps.value,
        img.value
      )
    "
  >
    <div>
      <label for="name">name</label>
      <input type="text" formControlName="name" #name required minlength="1" />
    </div>

    <div>
      <label for="type">type</label>
      <input type="text" formControlName="type" #type required minlength="1" />
    </div>

    <div>
      <label for="timeMinutes">timeMinutes</label>
      <input
        type="number"
        formControlName="timeMinutes"
        #timeMinutes
        required
        minlength="1"
      />
    </div>

    <div>
      <label for="ingredients">ingredients</label>
      <input
        type="text"
        formControlName="ingredients"
        #ingredients
        minlength="1"
      />
    </div>

    <div>
      <label for="steps">steps</label>
      <input
        class="steps"
        type="text"
        formControlName="steps"
        #steps
        required
        minlength="1"
      />
    </div>

    <div>
      <label for="img">img</label>
      <input type="text" formControlName="img" #img minlength="1" />
    </div>
    <div class="btn-wrapper">
      <button [disabled]="!addRecipeForm.valid" type="submit" class="button">
        Add Recipe
      </button>
    </div>
  </form>
  <div (click)="Back()" class="back">❌</div>
</div>
