<div class="card">
  <form
    [formGroup]="addRecipeForm"
    (ngSubmit)="
      onSubmit(
        name.value,
        type.value,
        timeMinutes.value,
        ingredients.value,
        steps.value,
        img.value
      )
    "
  >
    <div>
      <label for="name">Name of the Recipe</label>
      <input type="text" formControlName="name" #name required maxlength="30" />
    </div>

    <div>
      <label class="select-label" for="type">The Type of Recipe</label>
      <select
        class="type-select type"
        name="type"
        formControlName="type"
        #type
        required
      >
        <option value="none" [defaultSelected]="true" disabled hidden>
          Choose Type
        </option>
        <option value="food">Food</option>
        <option value="dessert">Dessert</option>
      </select>
    </div>

    <div>
      <label for="timeMinutes">Time in Minutes to Prepare the Recipe</label>
      <input
        type="number"
        formControlName="timeMinutes"
        #timeMinutes
        required
      />
    </div>

    <div>
      <label for="ingredients">All ingredients used in recipe</label>
      <input type="text" formControlName="ingredients" #ingredients required />
    </div>

    <div>
      <label for="steps">Procedure to Prepare Recipe</label>
      <input
        class="steps"
        type="text"
        formControlName="steps"
        #steps
        required
        maxlength="4800"
      />
    </div>

    <div>
      <label for="img">Image of Recipe ( URL )</label>
      <input type="text" formControlName="img" #img maxlength="300" required />
    </div>
    <div class="btn-wrapper">
      <button [disabled]="!addRecipeForm.valid" type="submit" class="button">
        Add Recipe
      </button>
    </div>
  </form>
  <div (click)="Back()" class="back">❌</div>
</div>
