<form action="" class="card signup">
  <div class="email">
    <p class="title">Email</p>
    <input type="text" #email />
  </div>
  <div class="password">
    <p class="title">Password</p>
    <input type="password" #password />
  </div>
  <div class="repeat-password password">
    <p class="title">Repeat Password</p>
    <input type="password" #repeatPassword />
  </div>

  <div class="buttons">
    <button class="submit submit-email" (click)="logInWithEmail()">Submit</button>
    <p>or</p>
    <button
      class="submit submit-google"
      type="button"
      (click)="authService.GoogleAuth()"
    >
      Continue with Google
    </button>
  </div>

  <p class="already">Already have an account? <span>Log In</span> instead.</p>
</form>
