<div class="navbar">
  <div class="route home" routerLink="recipes/all" routerLinkActive="active">
    <p>Home</p>
    <div class="hr"></div>
  </div>

  <div class="route food" routerLink="recipes/food" routerLinkActive="active">
    <p>Food</p>
    <div class="hr"></div>
  </div>

  <div
    class="route dessert"
    routerLink="recipes/dessert"
    routerLinkActive="active"
  >
    <p>Dessert</p>
    <div class="hr"></div>
  </div>

  <div
    *ngIf="authService.isLoggedIn"
    class="route new-recipe"
    routerLink="add-recipe"
    routerLinkActive="active"
  >
    <p>Add Recipe</p>
    <div class="hr"></div>
  </div>
  <div class="route profile" routerLink="profile/id" routerLinkActive="active">
    <p>Profile</p>
    <div class="hr"></div>
  </div>
  <div
    *ngIf="!authService.isLoggedIn"
    class="route login"
    routerLink="login"
    routerLinkActive="active"
  >
    <p>Login</p>
    <div class="hr"></div>
  </div>
  <div *ngIf="authService.isLoggedIn" (click)="LogOut()" class="route logout">
    <p>Logout</p>
    <div class="hr"></div>
  </div>
</div>
